<ion-view title="Finish" id="page3" style="background-color:#E9E11E;" class=" pinkoverlay">
    <ion-content padding="true" class="has-header">
        <div class="item item-body bgzero" id="finish-list-item-container4">
            <h1 id="finish-heading2" style="color:#FFFFFF;font-weight:300;text-align:center;" class=" midh1">List of ingredients</h1>
            <div class="item item-body " id="finish-list-item-container5">
                <div>
                    <div class="checkoutlist">
                        <span>2x Angus Burger</span>
                        <span>-</span>
                        <span>$2.00</span>
                    </div>
                </div>
                <div>
                    <div class="checkoutlist">
                        <span>2x Angus Burger</span>
                        <span>-</span>
                        <span>$2.00</span>
                    </div>
                </div>
                <div>
                    <div class="checkoutlist">
                        <span>2x Angus Burger</span>
                        <span>-</span>
                        <span>$2.00</span>
                    </div>
                </div>
                <ion-list id="finish-list3" class=" ">
                    <ion-item class="item-divider " id="finish-list-item-divider1">Total $6.00</ion-item>
                </ion-list>
            </div>
            <a ui-sref="selectIngredients" id="finish-button6" style="color:#E9A81E;" class=" button button-light  button-block fullwidth">Share</a>
        </div>
    </ion-content>
</ion-view>