<ion-view title="Magnífico Burger" id="page1" style="background-color:#E91E63;" class=" pinkoverlay">
    <ion-content padding="false" style="background: url(img/Xr14otOTZ6PBkAAdiC1f_ct-timothy-otooles-offers-hamburger-hop-menu-2-001) no-repeat center;background-size:cover;" scroll="false" class="has-header">
        <div class="item item-body central bgzero" id="magnFicoBurger-list-item-container1">
            <div class="">
                <img src="img/JXVwEF0URDaEl8mr86Y9_hamburger.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <h1 id="magnFicoBurger-heading1" style="color:#FFFFFF;font-weight:300;text-align:center;" class=" ">Magnífico Burger</h1>
            <a ui-sref="selectIngredients" id="magnFicoBurger-button2" style="color:#E91E63;" class=" button button-light  button-block fullwidth">Create Now</a>
        </div>
    </ion-content>
</ion-view>