 
<ion-view view-title="{{userinfos.battletag | filtroTag}}" >
<ion-content>
<div class="row usercard">
  <div class="col col-30">
  <img ng-src="{{usuariofavoritado.favoritado.avatar}}" style="width: 70px;height: 70px;margin-top: 8px;">
  
  </div>
  <div class="col col-80" style="
    margin-left: 10px;
">

  <h2 class="su_text">{{usuariofavoritado.favoritado.username}}</h2>
   <p  class="su_text"> {{userinfos.battletag | filtroTag}} </p>  
   
    <div class="win_n">Wins {{usuariofavoritado.favoritado.games.quick.wins}}</div>
    <div class="lost_n">Lost {{usuariofavoritado.favoritado.games.quick.lost}}</div>
   
  <p class="user_lv">{{usuariofavoritado.favoritado.level}}</p>
  <a href="#/tab/favorites"> Back to Favs </a>
</div>
</div>  

<div class="list"> 
  <div class="item item-divider">
    Quick Play
  </div>
  <div class="item item-text-wrap herodata">
    <div class="row" ng-repeat="(key,stat) in  usuariofavoritado.StatsQuick "  >
    <div class="col col-100 ">
      <h3>{{key}}</h3>
      <p>{{stat}}</p>
    </div>
    
    
  </div>

  </div>
   <a class="item item-thumbnail-left herostats"  ng-repeat=" hero in usuariofavoritado.quickhero track by $index  "  ng-if='usuariofavoritado.quickhero && $index<4'>
      <img ng-src="{{hero.image}}">
      <h2>{{hero.name}}</h2>
      <p>{{hero.playtime}}</p>
    </a>

     
 <div class="item item-divider" >
    Competitive Play 
  </div>
       <a class="item item-thumbnail-left herostats" ng-repeat=" hero in usuariofavoritado.competitivehero track by $index  "  ng-if='usuariofavoritado.competitivehero && $index<4'>
      <img ng-src="{{hero.image}}">
      <h2>{{hero.name}}</h2>
      <p>{{hero.playtime}}</p>
    </a>


</div>

</ion-content>
</ion-view>
