 
<ion-view view-title="{{userinfos.battletag | filtroTag}}" >
<ion-content>
<div class="row usercard">
  <div class="col col-30">
  <img ng-src="{{usuariofavoritado.favoritado.avatar}}" style="width: 70px;height: 70px;margin-top: 8px;">
  
  </div>
  <div class="col col-80" style="
    margin-left: 10px;
">

  <h2 class="su_text">{{usuariofavoritado.favoritado.username}}</h2>
   <p  class="su_text"> {{userinfos.battletag | filtroTag}} </p>  
   
    <div class="win_n">Wins {{usuariofavoritado.favoritado.games.quick.wins}}</div>
    <div class="lost_n">Lost {{usuariofavoritado.favoritado.games.quick.lost}}</div>
   
  <p class="user_lv">{{usuariofavoritado.favoritado.level}}</p>
  <a href="#/tab/favorites"> Back to Favs </a>
</div>
</div>  

<div class="list">

  <div class="item item-divider">
    Heroes Statistics
  </div>

  <a class="item  item-thumbnail-right herostats" ng-repeat="hero in usuariofavoritado.heroesQuick track by $index">
  <img ng-src="{{hero.image}}" >
  <h2> {{hero.name}}</h2>
  <div class="row">
  <div class="col">
    <p class="seccolor quick"> Quick Play </p>
  <p> played: {{hero.playtime}}</p>
  
  </div>
  <div class="col">
    <p class="seccolor competitive"> Competitive Play </p>
  <p> played: {{hero.playtime}}</p>
  
  </div>
  </div>
  </a>

  

</div>

</ion-content>
</ion-view>
