<ion-view view-title="App Information">
<ion-content>
    <!-- <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
</ion-list> -->




<ion-item class="contatos  text-center" >
<p > built with <i class="ion-social-angular-outline iconinline"></i> and <strong>Ionic</strong> by Genaro Colusso.</p>
<p>OVERWATCH © 2016 BLIZZARD ENTERTAINMENT.</p><br><br>
<span item-left></span> 
<a class="button button-block button-energized icon-left" href="#" onclick="window.open('https://www.linkedin.com/in/genarocolusso', '_system', 'location=yes'); return false;">
	<div><i class="icon ion-social-linkedin-outline iconinline"></i> LinkedIn</div>
</a>
<a class="button button-block button-energized icon-left" href="#"  onclick="window.open('https://twitter.com/GenaroColusso', '_system', 'location=yes'); return false;">
	<div><i class="icon ion-social-twitter iconinline"></i> Twitter</div>
</a>
<a class="button button-block button-energized icon-left" href="#" onclick="window.open('http://genarocolusso.github.io', '_system', 'location=yes'); return false;">
	<div><i class="icon ion-android-checkmark-circle iconinline"></i>  Personal Site</div>
</a>
</ion-item>



</ion-content>
</ion-view>
