<ion-view view-title="Overwatch">
  <ion-content >


<div class="list">    
      <label class="item item-input">
    <img class="icon" style="height: 14px; margin-right: 5px;"src="http://vignette2.wikia.nocookie.net/soundtracks/images/f/f2/Overwatch.png/revision/latest?cb=20151124023839">
    <input type="text" placeholder="BattleTag (ex: Colusso-1321) change # for -" ng-model='user.battletag'>
  </label>
  
  <label class="item item-input item-select">
    <div class="input-label">
     <i class="icon ion-earth"></i> Region
    </div>
    <select ng-model='user.region'>
      <option value="us">
        US
      </option>
      <option value="eu">EU</option>
      <option value="kr">KR</option>
      <option value="cn">CN</option>
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
     <i class="icon ion-ios-game-controller-b-outline"></i> Platform
    </div>
    <select ng-model='user.plataform'>
      <option value="psn">
        PSN
      </option>
      <option value="xbl">XBL</option>
      <option value="pc">PC</option>
    </select>
  </label>


  <button class="button button-block button-energized" ng-click="getperfil(user.battletag, user.plataform, user.region)">
  Find Me {{user.battletag}}
  </button>
</div>

<div class="list"  ng-show="perfil" >
  
<div class="card no-padding" ng-hide="perfil.error">
   
  <div class="item item-text-wrap myProfile">
    <a class="item item-thumbnail-left item-icon-right" href="#">
      <img ng-src="{{perfil.data.avatar}}">
      <h2>{{user.battletag}}</h2>
      <h2>{{perfil.data.username}}</h2>
      <p>
        <div class="win_n">wins {{perfil.data.games.wins}}</div>
        <div class="lost_n">Lost {{perfil.data.games.lost}}</div>
      </p>
      <p> Level: {{perfil.data.level}}</p>
      <i class="icon ion-heart"></i>
    </a>
  </div>
  <div class="item item-divider">
    Most played heroes
    <div class="mostplayedheroes">
     <div class="row">
   <div class="lilhero" style="background-image: url({{hero.image}})"
   ng-repeat="hero in mostplayed | limitTo:4"> </div>  
   </div>
   
      </div>
    </div>
  </div>
</div>


<div class="list" ng-show="perfil.error">

<div class="card no-padding">
    <h2>Sorry, profile not found (battletag is case-sensitive)</h2> 
  </div>
</div>


   
 
 


  </ion-content>
</ion-view>
