 
/* Empty. Add your own CSS if you like */
.icon.liked {
  color: #FF0076;
  transition: 0.3s all ease-in-out;
  animation: pulseheart 0.6s ease-in-out; }

@keyframes pulseheart {
  0% {
    transform: scale(0.8); }
  15%, 25% {
    transform: scale(1.3); }
  50% {
    transform: scale(1); } }
.favh1 {
  font-size: 18px;
  padding: 0;
  margin: 0; }

div.win_n {
  color: #FFFFFF;
  background-color: #3BA90E;
  padding: 0px 3px;
  margin: 2px 5px;
  border-radius: 2px;
  font-weight: 700;
  display: inline-block; }
  .usercard div.win_n {
    background: none;
    font-weight: 100;
    color: #4CD20C;
    margin: 0; }

div.lost_n {
  margin: 0px 5px;
  display: inline-block;
  color: #FFFFFF;
  background-color: #C30202;
  padding: 0px 3px;
  margin: 2px 5px;
  border-radius: 2px;
  font-weight: 700; }
  .usercard div.lost_n {
    background: none;
    font-weight: 100;
    color: #C30202; }

.no-padding {
  padding: 0px; }

.mostplayedheroes  .lilhero {
  height: 40px;
  width: 40px;
  background-size: cover;
  margin: 0px 2px;
  background-position: center;
  border-radius: 5px;
  background-color: #A2A2A2;
  display: inline-block; }

.mostplayedheroes  .lilhero:hover {
  background-color: #E88C19; }

.myProfile img {
  border-radius: 4px; }


.favinfo{
   
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.favuser{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.badgeuser {
    min-width: 3em;
    padding: 3px 5px;
    background-color: #607D8B;
    color: #fff !important;
    border-radius: 2px;
    font-weight: bold;
      }

      .badgeuser.pc{
          background-color: #F44336;
      }
      .badgeuser.xbl{
            background-color: #4CAF50;
      }

      .badgeuser.psn{
            background-color: #2196F3;
      } 

.row.usercard {
  background: #0C1723;
  color: #DEDEDE; }
  .row.usercard .userlevel {
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid rgba(255, 255, 255, 0.85);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 3px; }

.su_text {
  color: #FFF;
  margin: 0;
  padding: 0; }

h2.su_text {
  color: #FFA900 !important; 
    font-size: 1.6em;}

.bar.bar-dark {
  border-color: #111;
  background-color: #252222;
  background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
  color: #fff; }

.tabs-background-dark .tabs, .tabs-background-dark > .tabs {
  border-color: #111;
  background-color: #252222;
  background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
  color: #fff; }

.usercard .user_lv {
  position: absolute;
  top: 10px;
  right: 10px;
  padding-top: 5px;
  width: 35px;
  height: 35px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.78);
  border-radius: 50%;
  color: #FFA900; }

.herostats img {
  background-color: #FF9800;
  border-radius: 4px; 
    height: 60px !important;
    width: auto !important;  }


.herostats{
 
     min-height: 80px !important;
}
.iconinline {
  font-size: 24px;
  vertical-align: middle; }

.contatos .button {
  transform: skew(-15deg); }

.contatos .button div {
  transform: skew(15deg); }

.contatos.item {
  border-width: 0; }
 .herodata{
   
  align-items: center;
 }
 .herodata .row div{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

body.platform-android   .action-sheet .button {
    text-align: left;
    border-color: rgba(162, 162, 162, 0.17);
    font-size: 16px;
    color: inherit;
}
 

p.seccolor.competitive {
    color: #673AB7;
    font-weight: bold;
}

p.seccolor.quick{
    color: #2196F3;
    font-weight: bold;
}
 
.marg_top_bot.fivep{ margin: 5px 0px;}
